* {

    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Grosor de la fuente 200 */
    font-weight: 200; 
  }

  h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */ 
    font-weight: bold; 
  }

  #photo1{
    width: 200px;
    height: auto;
  }
  .subtitle{
    color: rgb(107, 114, 128/0.89);
    text-transform: uppercase;
  }

  section {
    margin: 4px 2px 8px 2px; 
 
    border: 0.2pt solid #cedddd; 
 
    padding: 1.5% 0.8%;
 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
  }

  section {

    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;    
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
  }

nav ul {

    display: flex;									
    justify-content: space-around;
 
}

section form {

  /* Modelo de diseño en cuadrícula */
  display: grid;									
  row-gap: 0.5rem;

}

#resumen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 24vh;
  flex-wrap: wrap;
}

#resumen h2{
  width:50%;
}
#resumen p{
  width: 50%;
}
#resume img{
  max-width: 50%;
}

#resumen{
  display: grid;
  justify-content: space-around;
  align-items: stretch;
  grid-template-columns: "A D" "B D";

}
